body{
	font-family: 'DroidArabicKufiRegular'; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 18px;;
}

 /* header {
 height: 150px;
  background-color:#000; 
  color: #fff;
}*/

  /* footer {
    height: 80px;
    background-color:#000;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  } */

  